@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto';
}

body {
    background-color: #E2E8F0;
    margin: 0;
    display: flex;
}

input {
    background-color: #E2E8F0;
    border-radius: 18px;
    border: 0;
    width: 40vw;
    height: 30px;
    margin: 20px;
}

button {
    background-color: #1992D4;
    font-weight: bold;
    color: white;
    width: 6vw;
    height: 30px;
    margin-inline: 1vw;
    border: 0;
    border-radius: 20px;
}

p {
    font-weight: bold;
}

.board {
    margin-inline: 2vw;
}

.header {
    background-color: white;
    height: 145px;
    width: 79vw;
    display: flex;
}

.header > div > div:nth-child(2) {
    display: flex;
}

.header > div:nth-of-type(2) > div {
    margin: 20px;
    display: flex;
    align-items: center
}

.header > div:nth-of-type(2) > div > p {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.main-logo{
    display: flex;
    align-items: center;
}

.main-logo > img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    filter: invert(100%);
}

.logo {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.side {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    margin-top: 50px;
}

.bar {
    background-color: #1992D4;
    font-size: 20px;
    padding-left: 3vw;
    padding-top: 5vh;
    color: white;
    width: 18vw;
    height: 95vh;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.projects > div {
    background-color: white;
    word-wrap: break-word;
    padding: 2vh 2vw;
    width: 20vw;
    height: 18vh;
    border-radius: 10px;
    border-left: 8px solid #F0B429;
}

.projects > div > div {
    display: flex;
    justify-content: end;
}

.projects > div > p:first-of-type {
    font-size: 20px;
    margin: 0;
}

.projects > div > p:nth-of-type(2) {
    color: rgb(168, 168, 168);
    margin: 0;
}

.anounce {
    background-color: white;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 15px;
    width: 20vw;
}

.anounce > div {
    border-bottom: 1px solid #E2E8F0;
    padding-inline: 20px;
}

.anounce > div > p {
    margin: 8px;
}

.anounce > div > p:first-of-type {
    font-size: 18px;
    margin: 0;
}

.anounce > div > p:nth-of-type(2) {
    color: rgb(168, 168, 168);
    padding-bottom: 25px;
    margin: 0;
}

.trending {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.trending > div {
    display: flex;
    align-content: center;
    margin-block: 5px;
}

.trending > div > div > p {
    margin: 0px;
    font-size: 16px;
}

.trending > div > div > p:nth-of-type(2) {
    color: rgb(168, 168, 168);
    margin: 0;
}

.icon {
    height: 30px;
    width: 30px;
    margin-inline: 10px;
}

.account {
    height: 40px;
    width: 40px;
    margin-inline: 20px;
}

.account + div > p {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.account + div > p:first-of-type {
    font-size: 14px;
}

.main {
    display: flex;
}